<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    paypal.Button.render({
        // Configure environment
        env: 'sandbox',
        client: {
            sandbox: 'AQFASV5MIDOOuVgtMxXT9Q6Ug8xFlJYiK-6ysUzRNOx4TnYRtjOeh5TPa7zGS9WWGbrxE3rvNoWZKrLk',
            production: 'demo_production_client_id'
        },
        // Customize button (optional)
        locale: 'en_US',
        style: {
            size: 'small',
            color: 'gold',
            shape: 'pill',
        },

        // Enable Pay Now checkout flow (optional)
        commit: true,

        // Set up a payment
        payment: function(data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: '25.00',
                        currency: 'USD',
                        details: {
                            subtotal: '20.00',
                            // tax: '0.07',
                            shipping: '5.00',
                            // handling_fee: '1.00',
                            // shipping_discount: '-1.00',
                            // insurance: '0.01'
                        }
                    }
                }]
            });
        },
        // Execute the payment
        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function(details) {
                console.log(details);
                // Show a confirmation message to the buyer
                window.alert('Thank you for your purchase!');
            });
        }
    }, '#paypal-button');
</script>
