<div id="paypal-buttons" class="mt-4"></div>
<script src="https://www.paypal.com/sdk/js?client-id={{ config:services:paypal:client_id }}"></script>
<script>
    paypal.Buttons({
        style: {
            color: 'silver',
            shape: 'pill',
            tagline: false
        },
        createOrder: function (data, actions) {
            return actions.order.create({
                intent: 'CAPTURE',
                purchase_units: [{
                    amount: {
                        value: '25.00',
                        // breakdown: {
                        //     subtotal: '20.00',
                        //     shipping: '5.00'
                        //     // handling_fee: '1.00',
                        //     // shipping_discount: '-1.00',
                        // }
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                console.log(details);
                console.log(details.purchase_units[0].shipping);
                alert('Transaction completed by ' + details.payer.name.given_name);
            });
        }
    }).render('#paypal-buttons');
</script>
