<div class="min-h-screen border-t border-gray-400">
    <article class="container max-w-4xl">
        <h1 class="mt-4 text-5xl font-bold">{{ subtitle }}</h1>
        <h2 class="text-2xl text-gray-700 font-medium italic">{{ title }}</h2>
        <div class="w-1/3 float-left mt-6 mr-10">
            <img src="{{ cover }}" class="mb-6"/>
            <ul class="leading-relaxed">
                <li><strong>Editor</strong>: {{ editor }}</li>
                <li><strong>Publisher</strong>: {{ publisher }}</li>
                <li><strong>ISBN</strong>: {{ isbn }}</li>
                <li><strong>Published</strong>: {{ date format="m/Y" }}</li>
                <li>
                    <strong>Price</strong>:
                    {{ if sale_price }}<span>US${{ sale_price }}.00</span>{{ /if }}
                    <span class="{{ sale_price ? 'line-through' : ''}}">US${{ price }}.00</span>
                </li>
                {{ partial:paypal }}
            </ul>
        </div>
        <section class="prose mt-4">
            {{ description }}
        </section>
    </article>
</div>
