<h1 class="mt-3 text-5xl font-medium leading-loose">{{ title }}</h1>

<section class="prose">
    {{ content }}
        {{ partial src="sets/{type}" }}
    {{ /content }}
</section>

{{ if slug === 'wsm-discuss' }}
    <iframe src="https://lists.openspaceforum.net/pipermail/wsm-discuss/" width="100%" height="800" class="mt-4"></iframe>
{{ /if }}

{{# <section class="space-y-2 mt-12">
    {{ collection:pages filter="children" parent=id }}
        <div class="rounded-lg transition duration-75 ease-in-out shadow hover:shadow-md group">
            <a href="{{ url }}" class="block px-6 pt-2 pb-1 text-2xl font-medium rounded-lg shadow-xs">
                {{ title }} <span class="ml-2 group-hover:ml-3 text-xl transition-all duration-75 ease-in-out">→</span>
            </a>
        </div>
    {{ /collection:pages }}
</section> #}}

<section class="space-y-2 mt-12">
    {{ nav:collection:pages :from="url" }}
        {{ if url !== page:url }}
            <div class="rounded-lg transition duration-75 ease-in-out shadow hover:shadow-md group">
                <a href="{{ url }}" class="block px-6 pt-2 pb-1 text-2xl font-medium rounded-lg shadow-xs">
                    {{ title }} <span class="ml-2 group-hover:ml-3 text-xl transition-all duration-75 ease-in-out">→</span>
                </a>
            </div>
        {{ /if }}
    {{ /nav:collection:pages }}
</section>
