<div class="min-h-screen" style="background: linear-gradient(aliceblue, white);">
    <article class="container max-w-4xl">
        <h1 class="text-5xl font-medium leading-loose">{{ title }}</h1>
        <section class="content my-4">
            {{ content }}
        </section>
        {{ collection:reviews }}
            <div>
                <h2 class="mb-2 text-2xl font-medium">
                    {{ author }}: “{{ title }}”
                </h2>
                <h6 class="mb-2 text-gray-700"><em>{{ publication }}</em>, {{ year }}</h6>
                <div class="content mb-4">
                    {{ content }}
                </div>
                <p><a href="{{ link }}" class="hover:text-orange-700 transition-color duration-100 ease-in-out">Continue reading at <em>{{ publication }}</em></a></p>
            </div>
        {{ /collection:reviews }}
    </article>
</div>
