<section class="prose mb-2">
    {{ content }}
</section>

{{ collection:reviews }}
    <div>
        <h2 class="mb-2 text-2xl font-medium">
            {{ author }}: “{{ title }}”
        </h2>
        <h6 class="mb-2 text-gray-700"><em>{{ publication }}</em>, {{ year }}</h6>
        <div class="prose mb-4">
            {{ content }}
        </div>
        <p>
            <a href="{{ link }}" class="text-red-800 hover:text-red-700 transition-color duration-100 ease-in-out">Continue reading at <em>{{ publication }}</em></a>
        </p>
    </div>
{{ /collection:reviews }}
