<h1 class="mt-6 mb-4 text-3xl md:text-5xl font-medium leading-tight">{{ title }}</h1>

<section class="prose mb-10">
    {{ content }}
        {{ partial src="sets/{type}" }}
    {{ /content }}
</section>

<div class="grid md:grid-cols-2 col-gap-12 row-gap-8">
    {{ collection:reviews }}
        <div>
            <h2 class="mb-2 text-3xl font-medium leading-tight">
                {{ author }}: “{{ title }}”
            </h2>

            <h6 class="mb-2 text-gray-600"><em>{{ publication }}</em>, {{ year }}</h6>

            <div class="prose mb-4">
                {{ content }}
                    {{ partial src="sets/{type}" }}
                {{ /content }}
            </div>

            <p>
                <a href="{{ link }}" class="text-red-800 hover:underline ">
                    Continue reading at <em>{{ publication }}</em>
                </a>
            </p>
        </div>
    {{ /collection:reviews }}
</div>
