<div class="relative {{ slug === 'home' ? '' : 'h-48' }}" style="{{ slug === 'home' ? 'height:20rem;' : '' }}">
    {{ asset url="/assets/murmuration.mp4" }}
        <video autoplay loop muted src="{{ url }}" alt="{{ alt }}" class="w-full h-full object-cover object-center"></video>
    {{ /asset }}

    <nav class="absolute bottom-0 inset-x-0 container max-w-5xl pb-1 md:pb-6 text-white">
        <a href="/" class="block text-2xl {{ slug === 'home' ? 'md:text-6xl' : 'md:text-5xl' }} tracking-tight font-bold">
            <span class="whitespace-no-wrap">The Movements</span> <span class="whitespace-no-wrap">of Movements</span>
        </a>

        <span class="text-base md:text-lg block italic">
            A Thinking Space and Companion Website to The Movements of Movements Book Series
        </span>

        <div class="md:hidden relative mt-1" x-data="{ show: false }" @click.away="show = false">
            <button @click="show = !show" class="text-base font-medium">Menu <span x-show="!show">↓</span><span x-show="show">↑</span></button>

            <ul x-cloak x-show="show" class="absolute flex flex-col px-2 py-1 rounded-md shadow-sm" style="background-color: rgb(221, 161, 96);">
                {{ nav:main_menu }}
                    <li class="relative mr-4 group">
                        <a href="{{ url }}" class="p-1 font-medium hover:underline">{{ title }}</a>

                        {{ if children }}
                            <div class="min-w-max-content">
                                <ul class="pl-3 py-1" style="background-color: rgb(221, 161, 96);">
                                    {{ children }}
                                        <li>
                                            <a href="{{ url }}" class="p-1 hover:underline">{{ title }}</a>
                                        </li>
                                    {{ /children }}
                                </ul>
                            </div>
                        {{ /if }}
                    </li>
                {{ /nav:main_menu }}
            </ul>
        </div>

        <ul class="hidden md:flex text-xl mt-5">
            {{ nav:main_menu }}
                <li class="relative mr-4 group">
                    <a href="{{ url }}" class="p-1 font-medium hover:underline">{{ title }}</a>

                    {{ if children }}
                        <div class="hidden group-hover:block absolute min-w-max-content pt-2 -ml-3">
                            <ul class="px-3 py-2 rounded-md shadow-sm" style="background-color: rgb(221, 161, 96);">
                                {{ children }}
                                    <li>
                                        <a href="{{ url }}" class="p-1 font hover:underline">{{ title }}</a>
                                    </li>
                                {{ /children }}
                            </ul>
                        </div>
                    {{ /if }}
                </li>
            {{ /nav:main_menu }}
        </ul>
    </nav>
</div>
