/node_modules
/public/css
/public/js
/public/mix-manifest.json
/public/storage
/public/vendor/statamic
/storage/*.key
/storage/statamic/dimensions-cache
/storage/statamic/glide
/storage/statamic/password_resets
/vendor
.env
npm-debug.log
