{{ partial:page-heading :text=title }}

<section class="prose mb-6">
    {{ content }}
        {{ partial src="sets/{type}" }}
    {{ /content }}
</section>

<div class="space-y-4">
    {{ collection:contributors sort='last_name' }}
        <a href="{{ url }}" class="inline-block w-full py-2 group">
            {{ glide:photo square="1000" }}
                <img src="{{ url }}" class="float-left w-1/3 mr-10 mb-4"/>
            {{ /glide:photo }}

            <h2 class="mb-2 text-3xl font-medium group-hover:underline">{{ title }}</h2>

            <p class="leading-relaxed">{{ excerpt }}</p>
        </a>
    {{ /collection:contributors }}
</div>
